.DivStyle {
    border-radius: 25px;
    border: 2px solid #fafbfb;
    height: auto;
    margin: auto;
    width: 30%;
    height: 50%;
    border: 3px solid rgb(250, 250, 250);
    padding: 10px;
    margin-top: 250px;
    /* background-color: transparent; */
    background-color: rgba(1, 1, 1, 0.558);
  }
 

/* @import url('https://fonts.googleapis.com/css?family=Numans'); */

/* html,body{
background-image: url('/home/acer/Desktop/React/OnlineBookStoreManagementSystem/React_project/00demo/public/books_dark_shelf.jpg');
background-repeat: no-repeat;
height: 100%;
width: 100%;
overflow: hidden;
background-size: cover;
font-family: 'Numans', sans-serif;
} */