.Icon {
    border-radius: 25px;
    border: 2px solid #f6b4d59a;
    height: 100px;
    margin: auto;
    width: 100px;
    border: 3px solid rgb(250, 250, 250);
    
  }

  .DivUser {
    border-radius: 25px;
    border: 2px solid #b58dd051;
    height: 60%;
    margin: auto;
    margin-top: 200px;
    width: 60%;
    border: 3px solid rgb(27, 68, 202);
    padding: 10px;
    color: rgba(200, 157, 231, 0.818);
    background-color: #cbc67774;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .Btn {
    color: rgb(239, 244, 246);
  }

  .right {
    margin-left: 150px;
  }

  .left {
    text-justify: 50px;
  }

  /* .jumbotron{
    background-image: url(‘path/image.jpg’);
    background-size: cover;
    background-repeat: no-repeat;
   } */