.series{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.series h1{
    color: #F875AA;
    font-family: 'Protest Revolution', sans-serif;
}

.btn{
    margin-left: 10px;
}

.card-img{
    margin: 5%;
    margin-left: 25%;
}

.card-container{
    margin: 5%;
    text-align: justify;
    width: 70%;
    color: #B9005B;
}
