.bookCard{
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 5%;
    color: #B9005B;
}

.bookCard p{
    margin: 2%;
}

.bookCard h1{
    font-family: 'Protest Revolution', sans-serif;
    color: #B9005B;
}

.bookImg{
    width: 60%;
}

.bookCard button{
    margin: 5%;
}
