/* Navbar-1 Styles */

.logo-font{
    font-family: 'Protest Revolution', sans-serif;
    color: #F875AA;
    font-size: 2.2rem;
}


/* Navbar-2 Styles */

.navbar-2{
    background-color: #F1D1D0 ;
    color: blueviolet;
}