/* Navbar-1 Styles */

.logo-font{
    font-family: 'Protest Revolution', sans-serif;
    /* color: aliceblue; */
    font-size: 2.2rem;
}


/* Navbar-2 Styles */

.navbar-2{
    background-color: rgb(157, 187, 213) ;
    color: blueviolet;
}