.user{
    background-color: white;
    padding: 10%;
    margin: 8%;
}

.user h2{
    color: #B9005B;
}

input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 2%;
}

.form-title{
    margin-bottom: 50px;
}


.user h4{
    color: #B9005B;
}