.user-profile{
    background-color: white;
    padding: 10%;
    padding-top: 5%;
    margin: 8%;
}

.user-profile button{
    padding: 20px;
}

.user-profile h3, h5{
    color: #B9005B;
}
/* .user-profile img{
    width: 100%;
} */
.user-info{
    margin-top: 10%;
}

.user-info div{
    margin: 5%;
}

.user-info a{
    color: #B9005B;
}

.your-options{
    padding-top:5%;
}

.your-options a{
    padding-top: 3%;
}