.user-profile{
    background-color: white;
    padding: 10%;
    padding-top: 5%;
    margin: 8%;
}

.user-profile button{
    padding: 20px;
}

.user-info{
    margin-top: 10%;
}

.user-info div{
    margin: 5%;
}